<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/logo.svg" alt="ngx-score logo" class="logo rounded">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>ngx-score</h1>
        <p>Utility to view (and edit) music scores written in musicXML, abc notation or Vex-style provided as an Angular
          module.</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg" href="https://github.com/bohoffi/ngx-score" target="_blank"><i
            class="fa fa-github fa-lg"></i> Code on Github</a>
        </p>

      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container">
    <p>Try it out:</p>
    <table>
      <thead>
      <tr>
        <th>Symbol</th>
        <th>Syntax</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <!--<tr>-->
        <!--<td>Beat</td>-->
        <!--<td>B:4/4</td>-->
        <!--<td>4/4 Beat</td>-->
      <!--</tr>-->
      <tr>
        <td>Note (default quantifier = 4)</td>
        <td>4>5</td>
        <td>5th fret on 4th string (D-String on Standard Tuning)</td>
      </tr>
      <tr>
        <td>Note (quantified)</td>
        <td>8_4>5</td>
        <td>1/8 Note (fret and string as above)</td>
      </tr>
      <tr>
        <td>Chord (default quantifier = 4)</td>
        <td>[6>0 5>2 4>2 3>0 2>0 1>0]</td>
        <td>Em chord (Standard Tuning)</td>
      </tr>
      <tr>
        <td>Chord (quantified)</td>
        <td>8[6>0 5>2 4>2 3>0 2>0 1>0]</td>
        <td>1/8 Em chord (Standard Tuning)</td>
      </tr>
      <tr>
        <td>Rest (default quantifier = 4)</td>
        <td>BR</td>
        <td></td>
      </tr>
      <tr>
        <td>Rest (quantified)</td>
        <td>8BR</td>
        <td>1/8 rest</td>
      </tr>
      <tr>
        <td>Measure</td>
        <td> |</td>
      </tr>
      </tbody>
    </table>
    <div [formGroup]="formGroup">
      <textarea formControlName="syntax" style="width: 90%; height: 250px;"></textarea>
    </div>
    <div id="main"></div>
  </div>
</section>
